<html>
<!-- Testing Navigator-->
<style>

.button {
      background-color: lightgray;
      border: thick;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 200px;
    }

    .container {
      position: relative;
    }

    .topleft {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 18px;
    }

    </style>

<head>
    <title>Staff Form</title>
        <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $("#staffSubmitButton").click(function(){
                $.ajax( {
                url: "http://172.23.20.81:80/submitStaffForm?staffXML=" + staffDetail(),
                method: "get",
                dataType: "text" // force the returned result as a string for printing
            })
                 window.alert("Successfully Input")
                 .done( function(msg) {
                 });

            });

        });

        function staffDetail () {
            staffdetxml = "<staff><form>" +

            "<title>" + $("#titlestaff").val() + "</title>" +
            "<fname>" + $("#fnamestaff").val() + "</fname>" +
            "<lname>" + $("#lnamestaff").val() + "</lname>" +
            "<address>" + $("#addressstaff").val() + "</address>" +
            "<email>" + $("#emailstaff").val() + "</email>" +
            "<phone>" + $("#phonestaff").val() + "</phone>" +

            "<qual>" + $("#qualificationstaff").val() + "</qual>" +
            "<subject>" + $("#subjectstaff").val() + "</subject>" +
            "<institution>" + $("#institutionstaff").val() + "</institution>" +
            "<year>" + $("#yearqualstaff").val() + "</year>" +

            "<period>" + $("#periodstaff").val() + "</period>" +
            "<field>" + $("#fieldstaff").val() + "</field>" +
            "<teachinsti>" + $("#teachinstistaff").val() + "</teachinsti>" +
            "<role>" + $("#rolestaff").val() + "</role>" +

            "<empperiod>" + $("#empperiod").val() + "</empperiod>" +
            "<fte>" + $("#fte").val() + "</fte>" +
            "<employer>" + $("#employer").val() + "</employer>" +
            "<postitle>" + $("#postitle").val() + "</postitle>" +
            "<duty>" + $("#duties").val() + "</duty>" +

            "<otherinfo1>" + $("#otherrelinfo1").val() + "</otherinfo1>" +
            "<author>" + $("#authpub").val() + "</author>" +
            "<yearpub>" + $("#yearofpub").val() + "</yearpub>" +
            "<titlepub>" + $("#titleofpub").val() + "</titlepub>" +
            "<jvp>" + $("#jourvolpro").val() + "</jvp>" +
            "<typepub>" + $("#typeofpub").val() + "</typepub>" +
            "<peerrev>" + $("#peerorrev").val() + "</peerrev>" +
            "<resclass>" + $("#resclass").val() + "</resclass>" +
            "<fieldedu>" + $("#fieldofedu").val() + "</fieldedu>" +



            "</form></staff>";
            return staffdetxml;
        }

    </script>

    <style>

        h1 {
            color: black;
            text-align: center;

            font-family: sans-serif;
            font-size: 30px;
        }

        table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }

        td, th{
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;}

        p{
            font-family: sans-serif;
            font-size: 15px;
        }

    </style>

</head>

<body>
<form>
    <center>
        <body>
            <center><img src="https://i.imgur.com/GrJSEiU.png"/></center>
            <center><img src="https://i.imgur.com/yabGSit.png"/></center>

    <h1>STAFF APPLICATION FORM</h1>

    <h2>Staff Details</h2>
    <p>Please fill in your personal details through the form below:</p>

    <table width="50%">
        <tr>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>

        <tr>
            <td width="(100/x)%"><input type="text" id="titlestaff" name="title" placeholder="Mr/Mrs/Ms" maxlength="3" required></td>
            <td width="(100/x)%"><input type="text" id="fnamestaff" name="fname" placeholder="First Name" maxlength="20" required></td>
            <td width="(100/x)%"><input type="text" id="lnamestaff" name="lname" placeholder="Last Name" maxlength="20" required></td>
            <td width="(100/x)%"><input type="text" id="addressstaff" name="address" placeholder="Address" maxlength="50" required></td>
            <td width="(100/x)%"><input type="email" id="emailstaff" name="email" placeholder="Email Address" maxlength="50" required></td>
            <td width="(100/x)%"><input type="tel" id="phonestaff" name="phone" placeholder="Phone Number" maxlength="12" required></td>
        </tr>
    </table><br><br>

    <h2>Qualification Details</h2>
    <p>Please fill in your qualification details through the form below:</p>

    <table width="61%">
        <tr>
            <th>Qualification</th>
            <th>Subject</th>
            <th>Institution</th>
            <th>Year</th>
        </tr>

        <tr>
            <td width="(100/x)%"><input type="text" id="qualificationstaff" name="qualification" placeholder="Name of Qualification" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="subjectstaff" name="subject" placeholder="Subject or Major Area" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="institutionstaff" name="institution" placeholder="Full Name of Awarding Institution" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="yearqualstaff" name="year" placeholder="Year Awarded" maxlength="4" required></td>
        </tr>
    </table><br><br>

    <h2>Teaching Experience</h2>
    <p>Please fill in your previous teaching experience in the past seven (7) years through the form below:</p>

    <table width="61%">
        <tr>
            <th>Period</th>
            <th>Field</th>
            <th>Institution</th>
            <th>Role</th>
        </tr>

        <tr>
            <td width="(100/x)%"><input type="text" id="periodstaff" name="period" placeholder="Teaching Period" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="fieldstaff" name="field" placeholder="Field of Study/Course Title" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="teachinstistaff" name="teachinsti" placeholder="Name of Organisation/Institution" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="rolestaff" name="role" placeholder="Course Coordinator etc." maxlength="60" required></td>
        </tr>
    </table><br><br>

    <h2>Relevent Employment/Experience</h2>
    <p>Provide a brief history of the employment and/or other experience below:</p>

    <table width="61%">
        <tr>
            <th>Employment Period</th>
            <th>FTE</th>
            <th>Employer</th>
            <th>Position title</th>
            <th>Relevant duties</th>
        </tr>

        <tr>
            <td width="(100/x)%"><input type="text" id="empperiod" name="empperiod" placeholder="Period of Employment" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="fte" name="fte" placeholder="Full-time/Part-time/Casual" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="employer" name="employer" placeholder="Name of Employer" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="postitle" name="postitle" placeholder="Title of position" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="duties" name="duties" placeholder="Duties or Role" maxlength="60" required></td>
        </tr>
    </table><br><br>

    <h2>Other Relevant Information</h2>
    <p>Provide a brief history of other relevant information below:</p>

    <table width="61%">
        <tr>
            <center><th>Other Information</th></center>
        </tr>

        <tr>
            <td width="(100/x)%"><input type="text" id="otherrelinfo1" name="otherinfo" placeholder="Other Ielevant Information" maxlength="255" required></td>
        </tr>
    </table><br><br>

    <h2>Publications</h2>
    <p>Please fill in your publications below:</p>

    <table width="61%">
        <tr>
            <th>Author</th>
            <th>Year of Publication</th>
            <th>Title of Publication</th>
            <th>Journal/Volume/Proceddings</th>
            <th>Type of Publication</th>
            <th>Peer Reviewed/Reviewed</th>
            <th>Research Classification</th>
            <th>Broad Field of Education</th>
        </tr>

        <tr>
            <td width="(100/x)%"><input type="text" id="authpub" name="author" placeholder="Author Name" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="yearofpub" name="yearpub" placeholder="Year of Publication" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="titleofpub" name="titlepub" placeholder="Title of Publication" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="jourvolpro" name="jvp" placeholder="Journal/Volume/Proceedings." maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="typeofpub" name="typepub" placeholder="Type of publication" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="peerorrev" name="peerrevpub" placeholder="Peer refered or Reviewed" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="resclass" name="resclass" placeholder="Research Classification of Publication" maxlength="60" required></td>
            <td width="(100/x)%"><input type="text" id="fieldofedu" name="fieldedu" placeholder="Broad Field of Education" maxlength="60" required></td>
        </tr>
    </table><br><br>

        <button class="button" type="submit" id="staffSubmitButton">Submit form</button>

    </center>
</form>

<!-- Back Button -->

<br><br>
<center><a href="Teaching_Staff_Portal.html"><button class="button" type="button">BACK</button></a></center>
</div>
</body>

</html>
